<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>MedoPad</title>
    <link rel="stylesheet" type="text/css" href="../static/Style.css">
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  

  
</head>

<body>  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <div class="logo">
          <h1><a href="#about">MedoPad</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

    <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li class="dropdown"><a href="#"><span>Diseases</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/covid">Covid-19</a></li>
              </li>
              <li><a href="/braintumor">Brain Tumor</a></li>
              <li><a href="/breastcancer">Breast Cancer</a></li>
              <li><a href="/alzheimer">Alzheimer</a></li>
              <li><a href="/diabetes">Diabetes</a></li>
              <li><a href="/pneumonia">Pneumonia</a></li>
              <li><a href="/heartdisease">Heart Disease</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#services">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </header><!-- End Header -->

   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">"Empowering Health with AI: Medopad - Your All-in-One Medical Solution"</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Medopad is an all-in-one medical solution app that brings 7 disease detections under one platform using the power of AI. Get test results immediately from the comfort of your own home with just a few clicks. A revolutionary project that could transform healthcare in the coming years</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#services" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="../static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Medopad is a digital health platform that leverages advanced technology, data science, and clinical expertise to provide personalized care to patients and empower healthcare providers with actionable insights. Our mission is to improve the quality of care and outcomes for patients with chronic conditions, such as Parkinson's disease, by enabling remote monitoring and early intervention.
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Medopad's innovative approach to healthcare enables patients to take control of their health and well-being while also providing healthcare professionals with real-time patient data that can be used to inform clinical decision-making and improve outcomes. Our team of dedicated professionals is committed to driving positive change in the healthcare industry and providing patients with the best possible care.            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
        </div>
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("../static/assets/img/target.webp");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Covid-19</a></h5>
                <p class="card-text">The COVID-19 detection feature in MedoPad is designed to help individuals and healthcare professionals quickly and accurately detect the presence of the virus. Using advanced machine learning algorithms and data analysis techniques, the feature analyzes symptoms and other key indicators to provide reliable and fast results, enabling early intervention and effective treatment.</p>
                <div class="read-more"><a href="/covid"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("../static/assets/img/more-services-2.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Brain tumor</a></h5>
                <p class="card-text">Brain tumor detection is a critical aspect of modern healthcare. MedoPad's brain tumor detection solution utilizes advanced algorithms and machine learning techniques to analyze medical images and assist doctors in identifying potential tumors. With faster and more accurate tumor detection, MedoPad is helping to improve patient outcomes and save lives.</p>
                <div class="read-more"><a href="/braintumor"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("../static/assets/img/more-services-3.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Breast cancer</a></h5>
                <p class="card-text">Breast cancer detection involves using medical imaging techniques such as mammography, ultrasound, and MRI to detect any abnormalities in breast tissue. Early detection of breast cancer increases the chances of successful treatment and improves patient outcomes. MedoPad's breast cancer detection service uses advanced image processing and machine learning algorithms to assist in the accurate and timely diagnosis of breast cancer.</p>
                <div class="read-more"><a href="/breastcancer"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("../static/assets/img/more-services-4.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">The Alzheimer's</a></h5>
                <p class="card-text">The Alzheimer's disease detection feature of MedoPad is designed to help healthcare professionals diagnose the disease early and accurately. By using advanced machine learning algorithms, the feature can analyze patient data such as memory performance, cognitive function, and other factors to identify signs of Alzheimer's disease. With this early detection, patients can receive proper treatment and support, improving their quality of life and slowing the progression of the disease.</p>
                <div class="read-more"><a href="/alzheimer"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("../static/assets/img/more-services-1.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Diabetes</a></h5>
                <p class="card-text">MedoPad's Diabetes Detection feature utilizes machine learning algorithms to analyze patient data, including blood glucose levels, medications, and lifestyle factors, to provide accurate and timely predictions of diabetes risk. The system also offers personalized recommendations for lifestyle changes and treatment options, helping patients and their healthcare providers to manage the condition effectively.</p>
                <div class="read-more"><a href="/diabetes"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("../static/assets/img/3d-render-medical-background-with-male-figure-lungs-covid-19-virus-cells_1048-15320.avif");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Pneumonia</a></h5>
                <p class="card-text">Pneumonia is a serious and potentially life-threatening lung infection that can be caused by bacteria, viruses, or fungi. Early detection is crucial for effective treatment and can help prevent serious complications. MedoPad's pneumonia detection feature uses advanced machine learning algorithms to analyze chest X-rays and identify early signs of pneumonia, allowing for timely and accurate diagnosis.</p>
                <div class="read-more"><a href="/pneumonia"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("../static/assets/img/istockphoto-1359314170-170667a.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Heart Disease</a></h5>
                <p class="card-text">MedoPad's heart disease detection is an AI-based tool that uses machine learning algorithms to analyze patient data and identify the risk factors associated with heart disease. The system can analyze a wide range of patient data, including medical history, lifestyle factors, and genetic information, to generate personalized risk assessments and treatment plans. The heart disease detection system is designed to be user-friendly and accessible to healthcare providers, allowing them to easily incorporate it into their clinical workflows and improve patient outcomes.</p>
                <div class="read-more"><a href="/heartdisease"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End More Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>MedoPad</h3>
              <p>Medopad is an all-in-one medical solution app that brings 7 disease detections under one platform using the power of AI. Get test results immediately from the comfort of your own home with just a few clicks. A revolutionary project that could transform healthcare in the coming years</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Sousse,Tunisia<br>  </p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>MedoPad2023@Gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+216 71 71 71 71</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>MedoPad</strong>. All Rights Reserved
          </div>
          <div class="credits">
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#hero" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>